/*ここから全体*/
body {
    background-color: Azure;
}
/*ここまで全体*/
/*ここからヘッダー*/
h1.tytle {
    text-align: center;
    font-weight: bold;
    border-bottom: 10px solid black;
}
p.description {
    text-align: justify;
    padding: 0px 30px;
}
.description-tytle {
    padding-left: 30px;
}
/*ここまでヘッダー*/
/*ここから目次*/
.navigation {
    margin: 2em auto;
    padding: 1em;
    background-color: #fff; /* 背景色 */
    border: 1px solid #ccc; /* 枠線 */
}
.navigation-h2 {
    text-align: center;
    border-bottom: 2px solid black;
}
li {
    margin-bottom: 1em;
}

/*ここまで目次*/
/*ここから本文*/
main {
    padding-top: 100px;
}

div.contents {
    padding-bottom: 100px;
}

h3.tytle {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    padding: 2px 0px;
}
/*ここまで本文*/
